.contactHeader {
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title {
    font-size: 0.8rem;
    color: #F6663F;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h3.slogan {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 80%;
    margin: 1.1rem 0;
}

h3.slogan span{
    font-family: 'Nunito', sans-serif;
    color: #000000;
    font-weight: normal;
}

p.info {
    font-size: 0.8rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #9FA4AF;
}