.contactHeader {
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title {
    font-size: 0.8rem;
    color: #F6663F;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h3.slogan {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 80%;
    margin: 1.1rem 0;
}

h3.slogan span{
    font-family: 'Nunito', sans-serif;
    color: #000000;
    font-weight: normal;
}

p.info {
    font-size: 0.8rem;
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    text-align: center;
    color: #9FA4AF;
}

@media only screen and (max-width: 600px) {
    .contactHeader {
        width: 90%;
    }
    h3.slogan {
        font-size: 1.2rem;
        margin: 0.8rem 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .contactHeader {
        width: 90%;
    }
    h3.slogan {
        font-size: 1.2rem;
        margin: 0.8rem 0;
    }
}
