.link {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-decoration: none;
    padding-bottom: 1.8rem;
}

.link:hover {
    border-bottom: 4px #F6663F solid;
    border-radius: 1px;
}

.scroll {
    padding-bottom: 1rem;
}




