.whatWeDo {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F1F8FC;
    position: relative;
    padding-top: 1rem;
    z-index: 1;
}

.whatWeDo:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50.5%;
    background: rgb(246,102,63);
    background: linear-gradient(299deg, rgba(246,102,63,1) 0%, rgba(255,0,60,1) 64%);
    z-index: -1;
}

.middleSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    z-index: 2;
}

.buttonLeft {
    margin-top: 3rem;
    cursor: pointer;
    color: #ffffff;
    border-bottom:5px solid #ffffff;
    border-left:5px solid #ffffff;
    width: 17px;
    height: 17px;
    margin-right: 2rem;
    transform: rotate(45deg);
    border-radius: 2px;
}

.buttonRight {
    margin-top: 3rem;
    cursor: pointer;
    color: #171717;
    border-bottom:5px solid #171717;
    border-right:5px solid #171717;
    width: 17px;
    height: 17px;
    margin-left: 2rem;
    transform: rotate(-45deg);
    border-radius: 2px;
}

