.sliderButtonMobile {
    display: none;
}

@media only screen and (max-width: 600px) and (min-height: 568px){
    .sliderButtonMobile {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 4rem;
        color: white;
        display: inline-block;
        cursor: pointer;
        margin: 0rem 2rem;
    }
}

@media only screen and (max-width: 600px) and (max-height: 569px){
    .sliderButtonMobile {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 3rem;
        color: white;
        display: inline-block;
        cursor: pointer;
        margin: 0rem 1rem;
    }
}