.actionButton {
    border: 1px solid #F6663F;
    color: white;
    border-radius: 30px;
    background: rgb(237,33,81);
    background: linear-gradient(63deg, rgba(237,33,81,1) 0%, rgba(246,102,63,1) 100%);
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 0.7rem;
    width: 190px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
}


.actionButton:hover {
    font-size: 0.8rem;
}

.actionButtonTransparency {
    background-color: inherit;
    border: 2px solid #F6663F;
    color: white;
    border-radius: 30px;
    margin-right: 2rem;
    margin-top: 1rem;
    font-size: 0.7rem;
    width: 190px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.actionButtonTransparency:hover {
    font-size: 0.8rem;
}

.orange {
    border: 1px solid #F6663F;
    color: white;
    border-radius: 30px;
    background: #F6663F;
    margin-right: 2rem;
    font-size: 0.7rem;
    width: 190px;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    align-self: center;
}

.orange:hover {
    font-size: 0.8rem;
}

@media only screen and (max-width: 600px) {
    .actionButton {
        margin-right: 0rem;
        margin-top: 1rem;
    }
    .orange {
        margin-right: 0rem;
    }
    .actionButtonTransparency {
        margin-right: 0rem;
        margin-top: 1rem;
    }
}

