.ourTeamBoxes {
    width: 90%;
    margin: auto;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
}

.upperMobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imageBox {
}

.nameBox {
    text-align: center;
    color: white;
    background-color: black;
    margin: auto;
}

.nameBox p {
    margin: auto;
}

.description {
    background-position: center;
    background-color: #464646;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    padding: 2rem;
}

@media only screen and (max-width: 900px)  {
    .ourTeamBoxes {
        width: 90%;
        margin: auto;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .description {
        grid-column: 1 / 3;
        width: 100%;
    }

}

