.ourTeamBoxes {
    display: flex;
    justify-content: center;
    width: 64%;
    min-height: 300px;
    border: #252525 solid 1px;
}

.nameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#000000;
    color: #FFFFFF;
    width: 33.5%;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 0.9rem;
}

.span {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
}

.description {
    background-position: center;
    background-color: #464646;
    text-align: center;
    width: 33.5%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    padding: 2rem;
}

.name {
    margin: 0.5rem;
}

.title {
    margin: 0.5rem;
}