.whatWeDoBoxes_Box {
    font-family: 'Nunito', sans-serif;
    width: 34%;
}

.bottom {
    padding: 1rem;
    text-align: justify;
    background-color:#ffffff;
    height: 160px;
}

.bottomEven {
    background-color:#171717 !important;
    text-align: justify;
    padding: 1rem;
    height: 160px;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.titleEven {
    font-size: 1.25rem;
    font-weight: bold;
    color: #FFFFFF;
}
.info {
    align-content: center;
    font-size: 0.9rem;
    font-weight: lighter;
    color: #9FA4AF;
    margin: 0.5rem 0;
}

.infoEven {
    font-size: 0.9rem;
    font-weight: lighter;
    color: #FFFFFF;
    margin: 0.5rem 0;
}

.Link {
    color: #010101;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
    text-decoration: none;
}

.Link:hover {
    border-bottom: 4px #F6663F solid;
    border-radius: 1px;
}

.LinkEven {
    color: #F6663F;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.6rem;
    text-decoration: none;
}

.LinkEven:hover {
    border-bottom: 4px #F6663F solid;
    border-radius: 1px;
}

@media only screen and (max-width: 600px) and (min-height: 641px) {
    .hide {
        display: none;
    }
    .whatWeDoBoxes_Box {
        font-family: 'Nunito', sans-serif;
        width: 100%;
    }
    .bottomEven {
        min-height: 130px;
        padding: 0.7rem;
    }
    .infoEven {
        font-size: 0.8rem;
        font-weight: lighter;
        color: #FFFFFF;
        margin: 0.4rem 0;
    }
    .bottom {
        height: auto;
    }

    .bottomEven {
        height: auto;
    }
}


@media only screen and (max-width: 600px) and (max-height: 640px) {
    .hide {
        display: none;
    }
    .whatWeDoBoxes_Box {
        font-family: 'Nunito', sans-serif;
        width: 100%;
    }
    .bottomEven {
        min-height: 130px;
        padding: 0.7rem;
    }
    .infoEven {
        font-size: 0.8rem;
        font-weight: lighter;
        color: #FFFFFF;
        margin: 0.4rem 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .hide {
        display: none;
    }
    .whatWeDoBoxes_Box {
        font-family: 'Nunito', sans-serif;
        width: 350px;
    }
    .bottomEven {
        min-height: 130px;
        padding: 0.7rem;
    }
    .infoEven {
        font-size: 0.8rem;
        font-weight: lighter;
        color: #FFFFFF;
        margin: 0.4rem 0;
    }
    .bottom {
        height: auto;
    }

    .bottomEven {
        height: auto;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    .bottom {
        height: 215px;
    }
    .bottomEven {
        height: 215px;
    }

}