ul {
    list-style: none;
    box-sizing: border-box;
}

li {
    display: inline-block;
    margin: 0 0.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }
}

/*!* Small devices (portrait tablets and large phones, 600px and up) *!*/
/*@media only screen and (min-width: 600px) {...}*/

/*!* Medium devices (landscape tablets, 768px and up) *!*/
/*@media only screen and (min-width: 768px) {...}*/



