.Box {
    max-width: 10%;
}

.title {
    color: #7D7D7D;
    margin-top: 0.6rem;
    font-weight: bold;
}

.items {
    margin: 2.8rem 0 1.5rem 0;
    color: #555555;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.items a {
    color: #555555;
    text-decoration: none;
}