.Box {
    max-width: 10%;
}

.title {
    color: #7D7D7D;
    margin-top: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.items {
    margin: 2.8rem 0 1.5rem 0;
    color: #555555;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.items a {
    color: #555555;
    text-decoration: none;
    text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
    .Box {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .items {
        margin: 0.5rem;

    }
    .title {
        margin: 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .Box {
        display: none;
    }
}
