.iconBox {
    display: flex;
    flex-direction: row;
}

.description {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-right: 1.5rem;
    color: #F6663F;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.info {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.2rem;
    color: #9FA4AF;
}

@media only screen and (max-width: 600px) {
    .iconBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5rem;
    }
    .logo {
        margin-right: 0.5rem;
        color: #F6663F;
    }
}