.logoArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoSvg {
    width: 3.8rem;
    margin-right: 1rem;
}

.scrollSVG {
    width: 50px;
    margin-right: 0.2rem;
}

.logo {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.scroll {
    font-size: 1.5rem;
}

span {
    color: #F6663F;
}

@media only screen and (max-width: 600px) {
    .logoArea {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logoSvg {
        width: 2.8rem;
        margin-right: 0.5rem;
    }

    .scrollSVG {
        width: 2rem;
        margin-right: 0.2rem;
    }

    .logo {
        color: white;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2.0rem;
    }

    .scroll {
        font-size: 1rem;
    }
}

