.sideDrawer{
    position: absolute;
    width: 100%;
    transform: translateY(64px);
    background-color: #171717;
}

.sideDrawerScroll{
    background-color: #171717;
    position: absolute;
    width: 100%;
    transform: translateY(40px);
}

.listItems{
margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .sideDrawer {
        display: none;
    }

    .sideDrawerScroll{
        display: none;
    }
}