
.copyright {
    margin-top: 4rem;
    width: 90%;
    color: #555555;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px)  {
    .copyright {
        margin-top: 0rem;
        width: 95%;
        text-align: center;
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .copyright {
        margin-top: 0rem;
        width: 95%;
        text-align: center;
        font-size: 0.7rem;
    }
}