.ourTeamHeader {
    text-align: center;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.title {
    font-size: 0.7rem;
    color: #F6663F;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h3.slogan {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 80%;
    margin: 2rem 0;
    color: #FFFFFF;
}

h3.slogan span{
    font-family: 'Libre Baskerville', sans-serif;
    font-style: italic;
    color: #000000;
    font-weight: normal;
}

@media only screen and (max-width: 600px) and (min-height: 641px) {
    .ourTeamHeader {
        width: 100%;
    }
    h3.slogan {
        font-size: 1rem;
        width: 80%;
        margin: 1rem 0;
    }
}


@media only screen and (max-width: 600px) and (max-height: 640px) {
    .ourTeamHeader {
        width: 100%;
    }
    h3.slogan {
        font-size: 1rem;
        width: 80%;
        margin: 1rem 0;
    }
}







