.footer {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    align-items: center;
    width: 100%;
    padding: 5rem 0;
    font-family: 'Nunito', sans-serif;
}

.footerBoxes {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.copyright {
    color: #FFFFFF;
}