.footer {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 4rem;
    font-family: 'Nunito', sans-serif;
}

.footerBoxes {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .footer {
        display: none;
    }
}

