.sliderButton {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 0.8rem;
    color: white;
    display: inline-block;
    cursor: pointer;
}

.sliderButtonText{
    display: inline-block;
    margin: 0px 5px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .sliderButton {
        display: none;
    }

    .sliderButtonText{
        display: inline-block;
        margin: 0px 5px;
        letter-spacing: 2px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .sliderButton {
        display: none;
    }

}