.Box {
    width: 23%;
}

p.info {
    color: #555555;
    margin: 3rem 0 1.5rem 0;
}

p.logo {
    font-size: 2.5rem;
    font-weight: bold;
}

p.businessAddressTitle {
    font-size: 0.7rem;
    color: #555555;
    text-transform: uppercase;
}

p.businessAddress{
    font-size: 0.7rem;
    color: #9FA4AF;
}

div.businessPhoneEmail {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .Box {
        width: 100%;
        margin-bottom: 1rem;
    }
    p.info {
        color: #555555;
        margin: 1rem 0 1.5rem 0;
        text-align: center;
    }
    p.logo {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    p.logo {
        font-size: 2rem;
        font-weight: bold;
        line-height: 2rem;
    }
    .Box {
        width: 40%;
    }
    p.info {
        color: #555555;
        margin: 2.5rem 0 1.5rem 0;
    }

}


