.ourTeam {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    background-color: #252525;
}

.middleSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
}

.buttonLeft {
    color: #ffffff;
    border-bottom:5px solid #ffffff;
    border-left:5px solid #ffffff;
    width: 15px;
    height: 15px;
    margin-right: 2rem;
    transform: rotate(45deg);
    border-radius: 2px;
}

.buttonRight {
    color: #F6663F;
    border-bottom:5px solid #F6663F;
    border-right:5px solid #F6663F;
    width: 15px;
    height: 15px;
    margin-left: 2rem;
    transform: rotate(-45deg);
    border-radius: 2px;
}

