.hoursBox {
    max-width: 17%;
}

.row {
    display: flex;
    justify-content: space-between;
    color: #9FA4AF;
    margin-bottom: 1rem;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.title {
    color: #7D7D7D;
    margin-top: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.items {
    color: #555555;
    font-size: 0.9rem;
    margin: 2.8rem 0 1.5rem 0;
}

.twitterTitle {
    color: white;
}

.items span {
    margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
    .hoursBox {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .title {
        margin: 0;
        text-align: center;
    }
    .row {
        display: flex;
        justify-content: space-between;
        color: #9FA4AF;
        margin: 0.5rem 0;
        font-size: 0.7rem;
        line-height: 0.9rem;
    }
    .items {
        margin: 0.5rem 0 1.5rem 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
    .hoursBox {
        max-width: 30%;

    }
}
