.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.formBottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.formHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%;
}

h3.slogan {
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 1.2rem 0;
    color: #000000;
}

h3.slogan span {
    font-family: 'Nunito', sans-serif;
    color: #000000;
}

p.info {
    font-size: 0.8rem;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: #9FA4AF;
}

.formInputs {
    margin: 0.8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

textarea {
    border: 0px;
    border-bottom: 1px #EBEBEB solid;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    font-size: 0.8rem;
    margin-top: 0;
}

textarea:focus {
    outline: none !important;
    border: 0px;
    border-bottom: 1px #f6663f solid;
}

.captchaError {
    background-color: #f6663f;
    border-radius: 5px;
    color: white;
}

.successMessage {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 3rem;
    color: #f6663f;
    font-size: 2rem;
}
.errorMessage {
    line-height: 2rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 3rem;
    color: rgb(237,33,81);
    font-size: 2rem;
}