.aboutUs {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0;
}

.title {
    font-size: 0.8rem;
    color: #F6663F;
    margin-bottom: 1rem;
}

.aboutBox {
    margin: 0 0;
    display: flex;
    flex-direction: row;
    width: 65%;
}

.leftSide {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    width: 45%;
    font-size: 1.6rem;
    margin-right: 1rem;
    line-height: 1.7rem;
}

.rightSide {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    width: 55%;
    font-size: 1rem;
    color: #9FA4AF;
}

.additionalText {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: #9FA4AF;
}

@media only screen and (max-width: 600px) and (min-height: 641px) {
    .title {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .aboutUs {
        margin-top: 1rem;
        min-height: 100vh;
        flex-direction: column;
        align-content: space-around;
    }
    .aboutBox {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-content: space-around;
        min-height: 50%;
    }
    .leftSide {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        width: 100%;
        font-size: 1.3rem;
        margin-right: 1rem;
        line-height: 1.7rem;
    }

    .rightSide {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        width: 100%;
        font-size: 0.8rem;
        color: #9FA4AF;
    }
}

@media only screen and (max-width: 600px) and (max-height: 640px){
    .title {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .aboutUs {
        margin-top: 1rem;
        height: 100%;
        flex-direction: column;
        align-content: space-around;
    }
    .aboutBox {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        width: 90%;
        align-content: space-around;
        min-height: 50%;
    }
    .leftSide {
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        width: 100%;
        font-size: 1.3rem;
        margin-right: 1rem;
        line-height: 1.7rem;
    }

    .rightSide {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        width: 100%;
        font-size: 0.8rem;
        color: #9FA4AF;
    }
}
