.aboutUs {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0;
    padding-top: 5rem;
}

.title {
    font-size: 0.8rem;
    color: #F6663F;
    margin-bottom: 1rem;
}

.aboutBox {
    margin: 0 0;
    display: flex;
    flex-direction: row;
    width: 65%;
}

.leftSide {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    width: 45%;
    font-size: 1.6rem;
}



.rightSide {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    width: 55%;
    font-size: 1rem;
    color: #9FA4AF;
}

.additionalText {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 0.7rem;
    color: #9FA4AF;
}